/* Follows.js */
.follows {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 4.5rem;
  background-color: white;
}

.follow-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.follow-container {
  display: flex;
  flex-direction: column;
}

.follow-container ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0.5rem;
}
.follow-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.follow-container li:hover {
  background-color: rgb(230, 230, 230);
}
