.sticky-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: transparent;
  padding-top: 0.5rem;
  width: 100vw;
  height: 3rem;
  z-index: 2;
}

.slide-in {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: -100%;
  background-color: var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.slide-in.active {
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#logo {
  color: var(--main-color);
  margin-left: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#logo.active {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-in ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 3rem;
  color: white;
  font-family: "Do Hyeon", sans-serif;
}

.slide-in li {
  cursor: pointer;
  margin-top: 2rem;
}

.slide-in li:hover {
  color: pink;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: -100vw;
  background-color: pink;
  z-index: 3;
}

.loading.active {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
