.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--main-color);
}

.user-usernum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin-top: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-bold {
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

#user-btn {
  height: 2rem;
  margin-left: 0.3rem;
}

#person_add {
  font-size: 1.3rem;
}

#person_disadd {
  font-size: 1.3rem;
}

#user-btn:hover #person_add {
  color: green;
}

#user-btn:hover #person_disadd {
  color: red;
}
